@import '~vuetify/dist/vuetify.min.css';
@import '~material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

a {
    text-decoration: none !important;
    color: inherit !important;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.logo {
    font-family: 'Kaushan Script', 'Roboto',sans-serif !important;
    font-size: 3rem !important;
}
