body{display: flex; min-height: 100vh; flex-direction: column;}
#app {
    margin-top: 2.5rem;
}
main{flex: 1 0 auto;}
hr{margin: 15px 0; border: 0; border-top: 1px solid #eee;}

h1, h2, h3, h4 {
    margin: 0 !important;
}

.card {
    margin-top: 3.5rem !important;
}
