@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.logo {
    font-family: "Kaushan Script", sans-serif !important;
}

.login--video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place the video behind other content */
}

#login--background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(
        0,
        0,
        0,
        0.55
    ); /* Adjust the last value (0.5) for the darkness level */
    z-index: 1; /* Place the overlay above the video */
}

.table.power-grid-table {
    @apply bg-white rounded-none;
}

#power-grid-table-base thead,
#power-grid-table-base #pg-footer {
    @apply bg-pg-primary-200;
}

.dark #power-grid-table-base thead,
.dark #power-grid-table-base #pg-footer {
    @apply bg-pg-primary-900;
}
